<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.SnowVolf.translate">

    <!-- Проверять доступность сети по 3G/4G или WiFi -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Голосовой ввод -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- Подключение к интернету -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Доступ к sd для перевода текстовых файлов -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.TranslatorActivity"
            android:configChanges="locale"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Для экранов Galaxy S8, LG G6, и т.д. -->
            <meta-data
                android:name="android.max_aspect"
                android:value="2.1" />
        </activity>
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:configChanges="locale|orientation"
            android:label="@string/action_settings"
            android:parentActivityName=".ui.activity.TranslatorActivity">
            <!-- Для экранов Galaxy S8, LG G6, и т.д. -->
            <meta-data
                android:name="android.max_aspect"
                android:value="2.1" />
        </activity>
        <!-- Base App activity -->
        <activity android:name=".ui.activity.BaseActivity" />
        <activity
            android:name=".ui.activity.HistoryFavActivity"
            android:label="@string/action_history_fav"
            android:parentActivityName=".ui.activity.TranslatorActivity">
            <!-- Для экранов Galaxy S8, LG G6, и т.д. -->
            <meta-data
                android:name="android.max_aspect"
                android:value="2.1" />
        </activity>
        <activity android:name=".ui.activity.LanguageListActivity" />
        <activity
            android:name=".ui.activity.BrowserActivity"
            android:configChanges="locale|orientation"
            android:label="@string/title_activity_browser"
            android:parentActivityName=".ui.activity.TranslatorActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.SnowVolf.translate.ui.activity.TranslatorActivity" />
            <!-- Для экранов Galaxy S8, LG G6, и т.д. -->
            <meta-data
                android:name="android.max_aspect"
                android:value="2.1" />
        </activity>

        <service
            android:name=".clipboard.ClipboardService"
            android:process=":clipBoardGirl" />

        <activity
            android:name=".ui.activity.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:parentActivityName=".ui.activity.TranslatorActivity"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.SnowVolf.translate.ui.activity.TranslatorActivity" />
        </activity>
    </application>

</manifest>